NODE_ENV=development
PORT=4000

# DB_HOST=
# DB_PORT=5432
# DB_NAME=aiwebchat
# DB_USER=aiwebchat
# DB_PASSWORD=
# DB_SSL=true

DATABASE_URL=
LOG_LEVEL=info

JWT_SECRET=addyourkeyhere
JWT_EXPIRES_IN=1d

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
